<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USBForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <USBForm.Properties.Settings>
            <setting name="FrameNum" serializeAs="String">
                <value>524296</value>
            </setting>
            <setting name="CutNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoUseDeleteToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BytesHandle" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SendCommond" serializeAs="String">
                <value>55 AA 01 02 03 04 05</value>
            </setting>
        </USBForm.Properties.Settings>
    </userSettings>
</configuration>